<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Tuning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        <div class="row justify-content-md-center">
            <div class="col col-md-auto mt-5">
                <h3>
                    <p class='fw-bold'>Data Tuning</p>
                </h3>
            </div>
        </div>
    </div>  
    <div class="container-md w-50 text-center">
        <p class="fs-6 fw-bold mt-5" style="color:616161">Data Example</p>
        <p class="fs-6 fw-bold"><small style="color:BDBDBD "> - must be csv file, and have 4 columns - </small></p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">idx</th>
                    <th scope="col">text</th>
                    <th scope="col">label</th>
                    <th scope="col">annot</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">0</th>
                    <td>I gonna start data tuning !</td>
                    <td>9</td>
                    <td>9999</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>I feel depressed</td>
                    <td>0</td>
                    <td>9999</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container-md w-50 text-center">
        <p class="fs-6 fw-bold mt-5"><small><mark style="background-color: F5F5F5;">Upload Data</mark></small></p>
        <form enctype="multipart/form-data" action="/upload_data" method="post">
            <div class="mb-3">
                <input class="form-control" type="file" id="formFile" name="upload">
            </div>
            <button type="submit" class="btn btn-outline-dark btn-sm mt-1" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">Upload</button>
        </form>
    </div> 
    <div class="container-md mt-5 column-gap-2">
        <form action="/upload_data" method="post">
            <!--input class="btn btn-outline-dark m-1" type="button" name="result" value="Result" style="float:right; background-color:whitesmoke;"-->
            <button type="submit" class="btn btn-outline-dark m-1" style="float:right">Result</button>
            <input class="form-check-input m-2 mt-3" type="radio" name="check_annot" id="check_annot" value="0" style="float:right; background-color: whitesmoke;" aria-label="...">      
        </form>
        <form action="/upload_data/1">
            <button type="submit" class="btn btn-outline-dark m-1" style="float:right">Start</button>
        </form>
    </div>
    {% if annot_check == 0 %}
    <div class="container-sm mt-5"> <!--style="border: 1px solid black"-->
        <div class="row justify-content-md-center">
            <div class="col col-md-auto">
                <p class="fs-6 fw-bold mt-5">[Not Annotated idx list pf {{filename}}]</p>
                <p class="fs-6 mt-1">{{not_tagged}}</p>
            </div>
        </div>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>   
    </body>
</html> 